@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.footer__back-to-top-link, .contact-form__input-group button, .projects__card a {
  display: inline-block;
  padding: 1ex 1em;
  border: 0.2em solid #2b7a8d;
  background-color: #53B3CB;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
}
.footer__back-to-top-link:hover, .contact-form__input-group button:hover, .projects__card a:hover, .footer__back-to-top-link:focus, .contact-form__input-group button:focus, .projects__card a:focus {
  background-color: #F9C22E;
  color: white;
  border: 0.2em solid #bc8a05;
  text-decoration: none;
}
.footer__back-to-top-link:active, .contact-form__input-group button:active, .projects__card a:active {
  background-color: #bc8a05;
  color: white;
}
.footer__back-to-top-link:visited, .contact-form__input-group button:visited, .projects__card a:visited {
  color: #FFF;
}

body {
  font-size: 1rem;
}

body,
input,
textarea {
  color: #0C090D;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  margin: 1em;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-weight: 600;
}

p {
  line-height: 1.5;
  text-align: justify;
}

a {
  color: #379bb4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #25697a;
}

b,
strong {
  font-weight: 600;
}

li {
  margin-bottom: 0.5em;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  color: #9575a0;
}

code,
pre {
  font-family: "JetBrains Mono", monospace;
  background-color: #e0d7e3;
  color: #13363f;
  font-size: 0.8rem;
}

code {
  padding: 0.25ch 0.5ch;
}

pre {
  padding: 1.5rem;
  overflow-x: scroll;
  margin: 1.5rem 0;
}
pre b {
  color: #25697a;
  font-weight: 600;
}

pre:before {
  display: block;
  padding: 1ch;
  font-size: 0.8rem;
  font-weight: 600;
  font-style: italic;
  color: #523d58;
}

pre.code-html:before {
  content: "HTML";
}

pre.code-scss:before {
  content: "SCSS";
}

pre.code-javascript:before {
  content: "JavaScript";
}

pre.code-php:before {
  content: "PHP";
}

.no-line-break {
  white-space: nowrap;
}

.layout-vertical-flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-vertical-flex-container > :last-child {
  margin-top: auto;
}
@media (min-width: 900px) {
  .layout-vertical-flex-container {
    margin-left: 16rem;
  }
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  fill: #53B3CB;
  margin-right: 0.5rem;
}

.primary-nav {
  display: flex;
  flex-direction: column;
  width: 16rem;
  position: fixed;
  height: 100vh;
  border-right: 0.5rem solid #0C090D;
  background-color: #FFF;
}
.primary-nav ul {
  list-style: none;
  padding: 0;
}

.primary-nav__vertical-flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

@media (max-width: calc(900px - 1px)) {
  .primary-nav--full-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-right: none;
  }
  .primary-nav--full-screen .primary-nav__subpages-menu li {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: calc(900px - 1px)) {
  .primary-nav--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #53B3CB;
}

#projects {
  padding-top: 0.01rem;
}

.projects__layout-grid-container {
  display: grid;
  gap: 1.5rem;
  margin: 0 1rem;
}
@media (min-width: 650px) {
  .projects__layout-grid-container {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (min-width: 900px) {
  .projects__layout-grid-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: none;
    margin: 0 1rem;
  }
}
@media (min-width: 1200px) {
  .projects__layout-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1650px) {
  .projects__layout-grid-container {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.contact-form {
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.subpage ul {
  padding: 1.2rem;
}
.subpage hr {
  border: 0.1rem solid #53B3CB;
}

.subpage__layout-horizontal-container {
  max-width: 65ch;
  width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}
.subpage__layout-horizontal-container main {
  margin-bottom: 3rem;
}

.primary-nav__menu-button {
  width: 5rem;
  height: 5rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 20;
  padding: 0;
  border: 0.5rem solid #0C090D;
  background-color: #FFF;
  cursor: pointer;
}
@media (min-width: 900px) {
  .primary-nav__menu-button {
    display: none;
  }
}
.primary-nav__menu-button svg {
  width: 100%;
  height: 100%;
  stroke: #0C090D;
  stroke-width: 12%;
}
.primary-nav__menu-button svg g.primary-nav__menu-button-burger-lines,
.primary-nav__menu-button svg g.primary-nav__menu-button-cross-lines {
  transform-origin: center;
  transition: 300ms;
}
.primary-nav__menu-button svg g.primary-nav__menu-button-burger-lines--hidden {
  opacity: 0;
  rotate: 45deg;
}
.primary-nav__menu-button svg g.primary-nav__menu-button-cross-lines--hidden {
  opacity: 0;
  rotate: -45deg;
}
.primary-nav__menu-button:hover, .primary-nav__menu-button:focus-visible {
  background-color: #F9C22E;
}
.primary-nav__menu-button:focus, .primary-nav__menu-button:focus-visible {
  outline: 1rem solid #F9C22E;
}

.primary-nav__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: 0.5rem solid #0C090D;
  background-color: #53B3CB;
  font-size: 4rem;
  font-weight: 800;
}
.primary-nav__logo span {
  display: block;
  color: #FFF;
  letter-spacing: 0.05em;
}
.primary-nav__logo span:first-child {
  margin-bottom: -1.2rem;
}
.primary-nav__logo:visited {
  color: #53B3CB;
}
.primary-nav__logo:hover, .primary-nav__logo:focus {
  background-color: #F9C22E;
  text-decoration: none;
}
.primary-nav__logo:active span {
  color: black;
}

.primary-nav__subpages-menu {
  margin: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.primary-nav__subpages-menu li {
  border-bottom: 0.2rem solid #0C090D;
  margin: 0;
}
.primary-nav__subpages-menu li a {
  display: block;
  padding: 1rem;
  text-align: center;
}
.primary-nav__subpages-menu li a:visited {
  color: #53B3CB;
}
.primary-nav__subpages-menu li a:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #F9C22E;
}
.primary-nav__subpages-menu li a:focus {
  outline: 1rem solid #F9C22E;
}
.primary-nav__subpages-menu li a:active {
  color: #0C090D;
}

.primary-nav__social-media-menu {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
}
.primary-nav__social-media-menu li {
  margin: 0.5rem;
}

.primary-nav__social-media-link {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
}
.primary-nav__social-media-link svg {
  width: 100%;
  height: 100%;
  fill: #0C090D;
}

.primary-nav__social-media-link--linkedin:hover svg {
  fill: #0077b5;
}

.primary-nav__social-media-link--instagram:hover svg {
  fill: #E1306C;
}

.primary-nav__social-media-link--github:hover svg {
  fill: #6E40C9;
}

.banner__heading-group {
  padding: 0 2em 1em;
  border: 1ex solid #0C090D;
  background-color: #FFF;
  font-size: 2.5vw;
}
@media (min-width: 650px) {
  .banner__heading-group {
    font-size: 1rem;
  }
}

.banner__heading {
  font-size: 3em;
}

.banner__subheading {
  font-size: 1.25em;
  font-weight: 600;
  text-align: center;
  color: #2b7a8d;
}

.projects__card {
  border: 1ex solid #0C090D;
}

.projects__card img {
  display: block;
  max-width: 100%;
}

.projects__card-text-area {
  padding: 1em;
}
.projects__card-text-area h3 {
  margin: 0.5rem 0 1.5rem;
}

.projects__card-tech-list {
  padding: 0;
  list-style-type: none;
}
.projects__card-tech-list li {
  display: inline-flex;
  align-items: center;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.projects__card-button {
  margin-top: 1rem;
  margin-right: 1rem;
}

.contact-form__input-group {
  margin-bottom: 3rem;
}
.contact-form__input-group label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.contact-form__input-group label:after {
  content: ":";
}
.contact-form__input-group label i {
  color: #9575a0;
  font-weight: normal;
}
.contact-form__input-group input,
.contact-form__input-group textarea {
  display: block;
  width: 100%;
  padding: 1em;
  border: 0.5ex solid #0C090D;
  font-size: 1.2rem;
}
.contact-form__input-group button {
  font-size: 1.5rem;
}
.contact-form__input-group input:not(:placeholder-shown):invalid,
.contact-form__input-group textarea:not(:placeholder-shown):invalid {
  border-color: #CC8328;
}
.contact-form__input-group input:not(:placeholder-shown).contact-form__input-field--needs-changing,
.contact-form__input-group textarea:not(:placeholder-shown).contact-form__input-field--needs-changing {
  border-color: #E01A4F;
}
.contact-form__input-group input:focus,
.contact-form__input-group textarea:focus {
  outline: none;
  border-color: #F9C22E;
}
.contact-form__input-group input:not(:placeholder-shown):valid,
.contact-form__input-group textarea:not(:placeholder-shown):valid {
  border-color: #7BCC98;
}
.contact-form__input-group input:not(:placeholder-shown).contact-form__input-field--definitely-valid,
.contact-form__input-group textarea:not(:placeholder-shown).contact-form__input-field--definitely-valid {
  border-color: #399359;
}
.contact-form__input-group input.contact-form__input-field--presubmission-invalid,
.contact-form__input-group textarea.contact-form__input-field--presubmission-invalid {
  border-color: #E01A4F;
}

.contact-form__error-indicator {
  color: #E01A4F;
  font-size: 1rem;
  margin: 0.5rem;
  font-style: italic;
  font-weight: bold;
  position: absolute;
}
.contact-form__error-indicator:before {
  content: "▲";
  margin-right: 0.5em;
  font-style: normal;
}

.contact-form__error-indicator--hidden {
  display: none;
}

.contact-form__success-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
.contact-form__success-indicator .contact-form__success-indicator-text {
  display: block;
  padding: 3rem;
  background-color: #399359;
  color: #FFF;
}

.contact-form__success-indicator--visible {
  opacity: 1;
}

.contact-form__submission-fail-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
.contact-form__submission-fail-indicator span {
  display: block;
  padding: 3rem;
  background-color: #E01A4F;
  color: #FFF;
}

.contact-form__fail-indicator--visible {
  opacity: 1;
}

.footer__back-to-top-link {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.footer__back-to-top-link .icon {
  fill: #FFF;
  margin-left: 0.5em;
  margin-right: 0;
}

.subpage__heading-group {
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.subpage__heading-group h1,
.subpage__heading-group p {
  margin: 0;
  margin-bottom: 0.25em;
  text-align: center;
}

.subpage__subheading {
  color: #379bb4;
  font-size: 1.5rem;
  font-weight: 600;
}

.subpage__subheading--small {
  margin: 1.5rem 0 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

.subpage__content--coding-snippets h2 {
  margin-left: 0;
  margin-right: 0;
  font-size: 2rem;
  text-align: left;
}
.subpage__content--coding-snippets p {
  text-align: left;
}
.subpage__content--coding-snippets pre code {
  display: inline-block;
  margin-right: 1.5rem;
}

.subpage__accordion-section-heading-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.subpage__accordion-section-content {
  display: none;
}

.subpage__accordion-section-open-close-button {
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  min-height: 4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.subpage__accordion-section-open-close-button .icon {
  fill: #0C090D;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
.subpage__accordion-section-open-close-button .icon:hover {
  fill: #F9C22E;
}
.subpage__accordion-section-open-close-button .icon:active {
  fill: #53B3CB;
}

.subpage__accordion-section--open .subpage__accordion-section-open-close-button .icon {
  transform: rotate(90deg);
}
.subpage__accordion-section--open .subpage__accordion-section-content {
  display: block;
}

.subpage__image-container {
  width: 50vw;
  max-width: 20em;
  border: 0.5rem solid #0C090D;
  margin: 1rem auto;
}
.subpage__image-container img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}
@media (min-width: 650px) {
  .subpage__image-container {
    width: 33.33vw;
  }
}

/*# sourceMappingURL=application.css.map */
