.subpage {

    ul {
        padding: 1.2rem;
    }

    hr {
        border: 0.1rem solid $primary-blue;
    }
}

.subpage__layout-horizontal-container {

    // Max width set to the approximate optimal character count per line
    max-width: 65ch;
    // Width value also needed to prevent `pre code` blocks from overflowing narrow viewport widths
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;

    main {
        margin-bottom: 3rem;
    }
}