// Ensures the footer is always at the bottom of the page, 
// even if there is not enough content to push it down.
.layout-vertical-flex-container {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    // Applies to the <footer>
    > :last-child {
        margin-top: auto;
    }

    @include at-breakpoint(medium-to-wide) {
        // Moves the main content to the right to make space for the of the primary-nav
        margin-left: 16rem;

    }
}