%button {
    
    display: inline-block;
    padding: 1ex 1em;
    border: 0.2em solid darken($primary-blue, 20%);
    background-color: $primary-blue;
    color: $base-white;
    font-weight: 600;

    &:hover, &:focus {

        background-color: $feedback-yellow;
        color: lighten($base-white, 20%);
        border: 0.2em solid darken($feedback-yellow, 20%);
        text-decoration: none;
    }
    &:active {

        background-color: darken($feedback-yellow, 20%);
        color: lighten($base-white, 20%);
    }
    &:visited {
        color: $base-white;
    }
}