.contact-form__input-group {

    margin-bottom: 3rem;

    label {
        display: block;
        margin-bottom: 1rem;
        font-weight: 600;

        font-size: 1.2rem;

        &:after {
            content: ':';
        }

        i {
            color: lighten($base-black, 50%);
            font-weight: normal;
        }
    }

    input,
    textarea {
        display: block;
        width: 100%;
        padding: 1em;
        border: 0.5ex solid $base-black;
        font-size: 1.2rem;
    }

    button {
        @extend %button;
        font-size: 1.5rem;
    }

    // Input is being used and value is not valid
    input:not(:placeholder-shown):invalid,
    textarea:not(:placeholder-shown):invalid {
        border-color: $soft-alert-orange;
    }

    // Input has been used and value is invalid
    input:not(:placeholder-shown).contact-form__input-field--needs-changing,
    textarea:not(:placeholder-shown).contact-form__input-field--needs-changing {
        border-color: $hard-alert-red;
    }

    // Input is being used
    input:focus,
    textarea:focus {
        outline: none;
        border-color: $feedback-yellow;
    }

    // Input is being used and input given will be valid 
    input:not(:placeholder-shown):valid,
    textarea:not(:placeholder-shown):valid {
        border-color: $soft-success-green;
    }

    input:not(:placeholder-shown).contact-form__input-field--definitely-valid,
    textarea:not(:placeholder-shown).contact-form__input-field--definitely-valid {
        border-color: $hard-success-green;
    }

    // Input can't be submitted until the value is valid
    input.contact-form__input-field--presubmission-invalid,
    textarea.contact-form__input-field--presubmission-invalid {
        border-color: $hard-alert-red;
    }
}

// Form validation error indicator
.contact-form__error-indicator {

    color: $hard-alert-red;
    font-size: 1rem;
    margin: 0.5rem;
    font-style: italic;
    font-weight: bold;
    position: absolute;

    &:before {
        // Red triangle pointing upwards
        content: "▲";
        margin-right: 0.5em;
        font-style: normal;
    }
}

.contact-form__error-indicator--hidden {
    display: none;
}

// DOM element created in `contactFormSuccessIndicator.js`
.contact-form__success-indicator {

    // This is the container <div> for the actual text
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    // When the element is appended to the DOM, the message is initially invisible
    opacity: 0;
    transition: opacity 0.3s;

    .contact-form__success-indicator-text {

        display: block;
        padding: 3rem;
        background-color: $hard-success-green;
        color: $base-white;
    }
}

.contact-form__success-indicator--visible {

    opacity: 1;
}

.contact-form__submission-fail-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    // When the element is appended to the DOM, the message is initially invisible
    opacity: 0;
    transition: opacity 0.3s;

    span {
        display: block;
        padding: 3rem;
        background-color: $hard-alert-red;
        color: $base-white;
    }
}

.contact-form__fail-indicator--visible {

    opacity: 1;
}