.primary-nav__burger-button {

    position: absolute;
    top: 1rem;
    right: 1rem;

    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 20% repeat(5, 1fr) 20%;

    width: 4rem;
    height: 4rem;
    background-color: $base-white;
    border: 0.4rem solid $base-black;
    padding: 0;
    cursor: pointer;

    >span {
        display: block;
        height: 100%;
        grid-column: 2 / -2;
        background-color: black;
    }

    // Styling for interactivity states 
    &:hover {
        // background-color: lighten($feedback-yellow, 50%);
        background: $feedback-yellow;
    }
    &:focus {
        outline: 1rem solid $feedback-yellow;
    }
    &:active {
        background-color: $base-black;
    }
    &:active span {
        background: $base-white;
    }
}

// To create the inner lines of the burger button 
.primary-nav__burger-button-top-line {
    grid-row: 2 / 3;
}
.primary-nav__burger-button-middle-line {
    grid-row: 4 / 5;
}
.primary-nav__burger-button-bottom-line {
    grid-row: 6 / 7;
}