.primary-nav__menu-button {

    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 20;

    padding: 0;
    border: 0.5rem solid $base-black;
    background-color: $base-white;
    cursor: pointer;

    @include at-breakpoint(medium-to-wide) {
        // Hide menu button when the primary-nav is visible because to the screen being wide enough
        display: none;
    }

    svg {
        width: 100%;
        height: 100%;
        stroke: $base-black;
        stroke-width: 12%;

        // Styling for animation between burger and cross icons
        g.primary-nav__menu-button-burger-lines,
        g.primary-nav__menu-button-cross-lines {
            transform-origin: center;
            transition: 300ms;
        }

        g.primary-nav__menu-button-burger-lines--hidden {
            opacity: 0;
            rotate: 45deg;
        }

        g.primary-nav__menu-button-cross-lines--hidden {
            opacity: 0;
            rotate: -45deg;
        }
    }

    // Interactivity styling
    &:hover,
    &:focus-visible {
        background-color: $feedback-yellow;
    }

    &:focus,
    &:focus-visible {
        outline: 1rem solid $feedback-yellow;
    }
}

.primary-nav__logo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
    border-bottom: 0.5rem solid $base-black;

    background-color: $primary-blue;
    font-size: 4rem;
    font-weight: 800;

    span {
        display: block;
        color: $base-white;
        letter-spacing: 0.05em;

        &:first-child {
            margin-bottom: -1.2rem;
        }
    }

    &:visited {
        color: $primary-blue;
    }

    &:hover,
    &:focus {
        background-color: $feedback-yellow;
        text-decoration: none;
    }

    &:active {
        span {
            color: black;
        }
    }
}

.primary-nav__subpages-menu {

    margin: 2rem;
    font-size: 1.25rem;
    font-weight: 600;

    li {
        a {
            display: block;
            padding: 1rem;
            text-align: center;

            &:visited {
                color: $primary-blue;
            }

            &:hover {
                text-decoration: none;
                color: $base-white;
                background-color: $feedback-yellow;
            }

            &:focus {
                outline: 1rem solid $feedback-yellow;
            }

            &:active {
                color: $base-black;

            }
        }

        border-bottom: 0.2rem solid $base-black;
        margin: 0;
    }
}

.primary-nav__social-media-menu {

    display: flex;
    flex-direction: row;
    margin: 1rem auto;

    li {
        margin: 0.5rem;
    }
}

.primary-nav__social-media-link {

    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;

    svg {
        width: 100%;
        height: 100%;
        fill: $base-black;
    }
}

.primary-nav__social-media-link--linkedin:hover svg {
    fill: #0077b5;
}

.primary-nav__social-media-link--instagram:hover svg {
    fill: #E1306C;
}

.primary-nav__social-media-link--github:hover svg {
    fill: #6E40C9;
}