.projects__card {
    border: 1ex solid $base-black;
}

.projects__card img {
    display: block;
    max-width: 100%;
}

.projects__card a {
    @extend %button;
}

.projects__card-text-area {
    padding: 1em;

    h3 {
        margin: 0.5rem 0 1.5rem;
    }
}

.projects__card-button {
    margin-top: 1rem;
    margin-right: 1rem;
}