.subpage__heading-group {

    margin-top: 6rem;
    margin-bottom: 3rem;

    h1,
    p {
        margin: 0;
        margin-bottom: 0.25em;
        text-align: center;
    }
}

.subpage__subheading {

    color: darken($primary-blue, 10%);
    font-size: 1.5rem;
    font-weight: 600;
}

.subpage__subheading--small {

    margin: 1.5rem 0 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
}

.subpage__content--coding-snippets {

    h2 {
        margin-left: 0;
        margin-right: 0;
        font-size: 2rem;
        text-align: left;
    }

    p {
        text-align: left;
    }

    pre code {
        // Add space between the end of code lines and the `pre` block
        display: inline-block;
        margin-right: 1.5rem;
    }
}

.subpage__accordion-section-heading-group {

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.subpage__accordion-section-content {
    
    // Default: hide the content
    display: none;
}

.subpage__accordion-section-open-close-button {

    // Need both width/height + min-width/min-height here 
    // to keep the button the correct size at narrow and wide viewports
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    min-height: 4rem;

    border: none;
    background-color: transparent;
    cursor: pointer;

    .icon {
        fill: $base-black;
        width: 100%;
        height: 100%;
        transition: transform 0.2s ease-in-out;

        &:hover {
            fill: $feedback-yellow;
        }

        &:active {
            fill: $primary-blue;
        }
    }
}

.subpage__accordion-section--open {

    .subpage__accordion-section-open-close-button .icon {
        // Make the arrow point down instead of right
        transform: rotate(90deg);
    }

    .subpage__accordion-section-content {
        // Show the content when the open/close button is pressed 
        display: block;
    }
}

.subpage__image-container {

    width: 50vw;
    max-width: 20em;
    border: 0.5rem solid $base-black;
    margin: 1rem auto;

    img {
        display: block;
        margin: 0;
        width: 100%;
        height: auto;
    }

    @include at-breakpoint(narrow-to-medium) {
        width: 33.33vw;
    }
}